body, html {
  height: 100%;
  position: relative;
}

main{
    display: block;
    padding: 2 * $gap;
}



body {
  font-family: "Rubik";
  background: color(primary, bg);
  color:$text-color;
  font-weight: 300;
} 

