body{
  font-family:$ff-body;
  font-weight: 300;
  font-size: $fz-body;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4{
  font-family: $ff-title;
  font-weight: 300; 
  margin: 0;
}

h1, .h1 {
  font-size: $fz-h1;
}
h2, .h2 {
  font-size: $fz-h2;
  color: $primary;
  margin-bottom: 30px;
}
h3, .h3 {
  font-size: $fz-h3;
  
}
h4, .h4 {
  font-size: $fz-h4;
} 






