/*———————————————————————————————————*\
    $ COLORS
\*———————————————————————————————————*/
$primary: red;
$bg-primary: lighten($primary, 45);

/*———————————————————————————————————*\
    $ DIMENTIONS
\*———————————————————————————————————*/
$sidebarWidth: 200px;