.card {
  display:         flex;
  padding:         20px;
  border-radius:   4px;
  background:      white;
  flex:            1;
  flex-direction:  column;
  justify-content: space-between;
  
  &:first-child:not(:last-child){
    margin-right: 2 * $gap;
  }

  &-container {
    display:       flex;
    margin-bottom: 2 * $gap;
  }

  &__title {
    font-size: 18px;
    color:     black;
  }

  &__filter {
    color: blue;
  }

  &__legend{
    margin:    5px 0 0 0;
    font-size: 16px;
    color:     #90a4ae;
  }

  &__value{
    margin:      0;
    font-size:   24px;
    line-height: 36px;
    color:       black;
    vertical-align: middle;
  }

  &__data{
    text-align: right;
  }

  &__icon{
    margin-right: 5px;
    transform:    rotate(270deg);

    &.bas {
      transform: rotate(90deg);
    }
  }
}
