.card {
  flex:1;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  &:first-child:not(:last-child){
    margin-right: 2 * $gap;
  }
  &-container {
    display: flex;
    margin-bottom: 2 * $gap;
  }

  &__title {
    color: black;
    font-size: 18px;
  }

  &__filter {
    color: blue;
  }

  &__legend{
    color: #90a4ae;
    font-size:16px;
    margin: 5px 0 0 0;
  }

  &__value{
    line-height: 36px;
    font-size: 24px;
    color:black;
    margin:0;
    vertical-align: middle;
    }

  &__data{
    text-align: right;
  }

  &__icon{
    margin-right: 5px;
    transform: rotate(270deg);

    &.bas {
      transform: rotate(90deg);
    }
  }




}
